.poke-card {
   display: inline-block;
   margin-bottom: 10px;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 8px;
   width: 350px;
   text-align: center;
   background-color: #fff;
}

.poke-card img {
   width: 130px;
   height: 130px;
   object-fit: cover;
   margin-bottom: 10px;
}

.poke-card p {
   font-size: 16px;
   color: rgb(253, 0, 148);
}

.poke-card button {
   background-color: rgb(253, 0, 148);
   color: #fff;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.poke-card.disabled {
   background-color: #e0e0e0;
}

.disabled.poke-card button {
   color: gray;
}

.disabled-img {
   filter: grayscale(100%);
}

.disabled.poke-card p {
   color: gray;
}
.disabled-text {
   color: gray;
}
