.PokeCard {
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 16px;
   text-align: center;
   width: 150px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.PokeCard img {
   max-width: 100%;
   height: auto;
   border-radius: 4px;
}
